body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Изменено для вертикального выравнивания */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    width: 100%; /* Растягиваем на всю ширину */
    background-color: #4b583a; 
    color: white;
    padding: 10px 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    position: fixed; /* Фиксируем на верху страницы */
    top: 0;
}

nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #c0c0c0;
}

nav a img {
    height: 70px;
}
footer {
    background-color: #4b583a;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

.container {
    background-color: white;
    padding: 20px;
    margin-top: 100px; /* Добавляем отступ сверху, чтобы форма не перекрывалась панелью */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px; /* Устанавливаем максимальную ширину */
    display: flex; /* Для вертикального выравнивания элементов формы */
    flex-direction: column; /* Элементы формы располагаются вертикально */
    align-items: center; /* Выравнивание элементов формы по центру */
}

form input[type="text"],
form input[type="password"],
form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* New line added */
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #4b583a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #5c6a4b;
}

.switch {
    color: #4b583a;
    cursor: pointer;
    margin-top: 20px; /* Добавляем отступ сверху */
}

.switch span {
    text-decoration: underline;
}